.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    color: #f000ff;
    display: flex;
    justify-content: center;
    background: #301934;
    font-family: "Press Start 2P", system-ui;
    justify-content: center;
}

button {
    font-family: "Press Start 2P", system-ui;
    padding: 10px;
    margin: 10px;
    background: #f000ff;
    border-radius: 10px;
    color: #301934
}

h1 {
    display: flex;
    justify-content: center;
}

table {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    background-color: rgb(24, 12, 26);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    gap: 3px;
    padding: 3px;
    background-color: #141414;
    place-items: center;
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
}

.cell {
    width: 100%;
    height: 100%;
    background-color: #301934;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

.createDiv {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.gameControls {
    display: flex;
    justify-content: center;
}

.info {
    margin-left: 30px
}

.info p {
    justify-content: flex-start;
}

.headBar {
    background: rgb(24, 12, 26);
    padding: 10px;
    border-radius: 10px;
}