body {
    color: black;
    display: flex;
    justify-content: center;
    background: lightgray;
}

h1 {
    display: flex;
    justify-content: center;
}

table {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

button {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    gap: 3px;
    padding: 3px;
    background-color: #141414;
    place-items: center;
}

.cell {
    width: 100%;
    height: 100%;
    background-color: rgb(212, 246, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}