.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    color: black;
    display: flex;
    justify-content: center;
    background: lightgray;
    font-family: "Press Start 2P", system-ui;
    justify-content: center;
}

button {
    font-family: "Press Start 2P", system-ui;
    padding: 10px;
    margin: 10px;
    background: lightcoral;
    border-radius: 10px;
}

h1 {
    display: flex;
    justify-content: center;
}

table {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

button {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    gap: 3px;
    padding: 3px;
    background-color: #141414;
    place-items: center;
    width: fit-content;
    margin: 0 auto;
}

.cell {
    width: 100%;
    height: 100%;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

.createDiv {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}