body {
    color: red;
    display: flex;
    justify-content: center;
    background: #ADD8E6;
}

h1 {
    display: flex;
    justify-content: center;
}

table {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    background-color: #ADD8E6;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 60px);
    gap: 3px;
    padding: 3px;
    background-color: #141414;
    place-items: center;
}

.cell {
    width: 100%;
    height: 100%;
    background-color: beige;;
    display: flex;
    justify-content: center;
    align-items: center;
}